<div class= "col-xs-10 col-xs-offset-1">
  
  <h1 class = "pull-left"> wow </h1>
  <h2>many <%= @meme.wow %>.</h1>
  <h2>such <%= @meme.such %>.</h1>
  <h1 class = "pull-right">wow</h1>
  <%= image_tag 'nyan-cat.png', class: 'my_img img-responsive' %>

</div>
