@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

.clear {
  clear:both;
}

.my_top {
  font-size: 20px;
  color: #E3E8FF;
}

h1 {
  font-family: 'Lobster', cursive;
  font-weight: 600;
  letter-spacing: -1.5px;
  font-size: 65px;
  color: #FFB0E7;
  text-shadow: 2px 2px #ff0000;
  text-align: center;

}

body {
  background: url('/assets/nyan backround.png');
}

.my_img {
  display: block;
  margin-left: auto;
  margin-rght: auto;
}

.links a {
  color: yellow;
  font-size: 24px;
  font-family: 'Gloria Hallelujah', cursive;
}

h2 {
  font-family: 'Lobster', cursive;
  font-weight: 300;
  letter-spacing: -1.5px;
  font-size: 90px;
  color: #FFB0E7;
  text-shadow: 2px 2px #ff0000;
  text-align: center;
}